/* arquivo feito com uso de IA */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
#myChart {
  max-width: 100%;
  height: 50vh;
}
@media (max-width: 768px) {
  #myChart {
    height: 40vh;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
 
}
.scrollable-container {
  max-height: 50vh; 
  overflow-y: auto; 
  scrollbar-width: thin;
  scrollbar-color: #4CAF50 #333; 
}

.scrollable-container::-webkit-scrollbar {
  width: 100vh; 
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #4CAF50;
  border-radius: 10px;
}
.scrollable-container::-webkit-scrollbar-track {
  background: #333; 
  border-radius: 10px; 
}